


.card1{
    width: 400px;
    height: 800px;
    background-color: var(--red-color);
    border-radius: 6px;
    padding-left: 40px; 

}

.card2{
    width: 300px;
    height: 400px;
    background: rgba(245, 245, 245, 1);
    padding-left: 30px;
    
}

.card3{
    width: 700px;
   height: 300px;
   background-color: var(--wheat-color);
   padding-left: 20px;
   
}



